extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Vestibulum leo magna, vulputate sed consectetur et, lacinia eu tortor. Aenean ac quam elit. Cras est risus, convallis fermentum eleifend a, tincidunt vel nulla. Nam maximus felis non quam rhoncus, et sagittis dui suscipit.
                p Phasellus quis leo ante. Vestibulum gravida placerat ex, in condimentum leo blandit et. Sed facilisis fermentum venenatis. Donec tincidunt dapibus eros. Praesent condimentum augue vitae lectus scelerisque pulvinar. In hac habitasse platea dictumst. Morbi convallis est dui, ut faucibus sem blandit vulputate. Ut molestie finibus quam, quis vehicula nulla accumsan et. Maecenas quis molestie nisl. Phasellus a consectetur arcu, eu aliquam eros.
                p Quisque molestie massa in magna placerat rutrum. Vestibulum leo magna, vulputate sed consectetur et, lacinia eu tortor. Aenean ac quam elit. Cras est risus, convallis fermentum eleifend a, tincidunt vel nulla. Nam maximus felis non quam rhoncus, et sagittis dui suscipit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque tempus lectus eu felis semper, id dapibus tellus porta. Nullam fermentum magna non nunc bibendum, ac consequat dui iaculis.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Quisque tempus lectus eu felis semper, id dapibus tellus porta. Nullam fermentum magna non nunc bibendum, ac consequat dui iaculis.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Quisque tempus lectus eu felis semper, id dapibus tellus porta. Nullam fermentum magna non nunc bibendum, ac consequat dui iaculis.
                    